*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Wallpoet', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(238,235,235);
  overflow: hidden;
  
}

.clock-edge {
  background-color:rgba(255, 0, 85, 0.485);
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 50px;
  height: 700px;
}

.clock-face {
  width: 500px;
  height: 500px;
  background-color: #66c1e67c;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow:  -8px 8px 15px rgba(225,225,225,0.05),
       20px 20px 20px rgba(0,0,0,0.2),
       inset -8px -8px 15px rgba(225,225,225,0.05),
       inset 20px 20px 20px rgba(0,0,0,0.2);
  position: relative;
  /* transform: skewX(0deg); */
}

.clock::after {
  content: '';
  position: absolute;
  /* background-color:rgb(123, 149, 5); */
  background-color: black;
  border: 2px solid rgb(123, 149, 5);
  z-index: 11;
  width: 20px;
  height: 20px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}
.clock .number {
  --rotation: 0;
  position: absolute;
  font-size: 40px;
  color: black;
  /* color:rgb(123, 149, 5); */
  
  width: 100%;
  height: 100%;
  padding: 18px;
  text-align: center;
  transform: rotate(var(--rotation))
}

.number::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  height: 15px;
  background-color: black;
}

.clock .number1 {--rotation: 30deg}
.clock .number2 {--rotation: 60deg}
.clock .number3 {--rotation: 90deg}
.clock .number4 {--rotation: 120deg}
.clock .number5 {--rotation: 150deg}
.clock .number6 {--rotation: 180deg}
.clock .number7 {--rotation: 210deg}
.clock .number8 {--rotation: 240deg}
.clock .number9 {--rotation: 270deg}
.clock .number10 {--rotation: 300deg}
.clock .number11 {--rotation: 330deg}

.number1 div{ 
  transform: rotate(-30deg);
}
.number2 div{
  transform: rotate(-60deg); 
  }
.number3{
  transform: rotate(-90deg); 
  }
.number4{
  transform: rotate(-120deg); 
  }
.number5{
  transform: rotate(-150deg); 
  }
.number6{
  transform: rotate(-180deg); 
  }
.number7{
  transform: rotate(-210deg); 
  }
.number8{
  transform: rotate(-240deg); 
  }
.number9{
  transform: rotate(-270deg); 
  }
.number10{
  transform: rotate(-300deg); 
  }
.number11{
  transform: rotate(-330deg); 
  }

.clock .hand {
  /* --rotation: 0; */
  position: absolute;
  bottom: 50%;
  left: 50%;
  /* width: 10px;
  height: 40%; */
  background-color: black;
  transform-origin: bottom;
  /* transform: translate(-50%) rotate(calc(var(--rotation) * 1deg)); */
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
}

.clock .hand.second {
  width: 5px;
  height: 45%;
  background-color: red;
}

.clock .hand.minute {
  width: 8px;
  height: 40%;
  background-color: black;
}

.clock .hand.hour {
  width: 12px;
  height: 35%;
  background-color: black;
}